.content-area {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #666666;
    background-color: #bababa;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.ng-leave {
    display: none;
}

.feature-show-hide {
    transition: all linear 1s;
    height:auto;
}
.feature-show-hide.ng-hide {
    opacity: 0;
}