.content-area {
    margin-top: 10px;
    padding: 10px;
}

.sample-show-hide {
    transition: all linear 2s;
    height:400px;
}
.sample-show-hide.ng-hide {
    opacity: 0;
}


.css-class-add, .css-class-remove {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.css-class,
.css-class-add.css-class-add-active {
    color: red;
    font-size:3em;
}

.css-class-remove.css-class-remove-active {
    font-size:1.0em;
    color: black;
}