<!--ABOUT SECTION-->
<section id="about">
    <div class="container">
        <div class="span12 text-center">
            <!--TODO:Add Intro Sentence-->
            <h1 class="col-sm-8 col-sm-offset-2"><b>About</b></h1>
            <h1 class="col-sm-8 col-sm-offset-2"><strong>Cory&nbsp;Kleiser</strong> is currently a student at the University&nbsp;of&nbsp;Cincinnati.</h1>
        </div>
        <div class="span12 text-center">
            <section class="col-xs-12 col-sm-6 col-lg-3">
                <div class="col-xs-12 well">
                    <h2>Programmer</h2>
                    <p>I have great familiarity with an object oriented approach to design and development.
                        Most of my experience derives from developing applications on the client-side.
                        My language of choice is most definitely javascript and it's various frameworks.</p>
                </div>
            </section>
            <section class="col-xs-12 col-sm-6 col-lg-3">
                <div class="col-xs-12 well">
                    <h2>Multimedia Producer</h2>
                    <p>Although my studies are focused on web, I am a competent producer of various mediums.
                        I don't consider myself an expert photographer or videographer,
                        however the experience I have gained in these fields is greatly useful when developing responsive applications.</p>
                </div>
            </section>
            <section class="col-xs-12 col-sm-6 col-lg-3">
                <div class="col-xs-12 well">
                    <h2>Musician</h2>
                    <p>When I was 5 years old I began playing my first instrument and never really stopped.
                        My love for playing music eventually spilled over into the studio. I am a proud member of the
                        Audio Engineering Society (AES),
                        and the former Vice President of AES, University of Cincinnati section.</p>
                </div>
            </section>
            <section class="col-xs-12 col-sm-6 col-lg-3">
                <div class="col-xs-12 well">
                    <h2>Traveler</h2>
                    <p>Whether I'm going to see family or just going to go, traveling is another one of my passions.
                        I truly enjoy exploring things I have never seen. I'm always looking to a new experience.
                        The feeling is even better when you share the experience with friends and family.</p>
                </div>
            </section>
        </div>
    </div>
</section>
