<!--Contact Section-->
<section id="contact">
    <div class="container-fluid">
        <h1>Contact</h1>
        <form class="form-horizontal" method="POST" ng-submit="submit()">


            <fieldset class="disabled"><legend class="text-left">Your Info</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputName">Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" id="inputName" name="inputName" placeholder="Full Name" ng-model="contactData.name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputEmail">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="email" id="inputEmail" name="inputEmail" placeholder="Email Address" ng-model="contactData.email">
                    </div>
                </div>
            </fieldset>


            <fieldset class="disabled"><legend class="text-left">Message Info</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Subject</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="inputSubject" type="text" id="inputSubject" placeholder="Subject" ng-model="contactData.subject">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputMessage">Your Message</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="inputMessage" id="inputMessage" placeholder="Message Body" ng-model="contactData.message"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <input class="btn btn-default pull-right" type="submit" id="submitEmail" name="submitEmail" value="Send">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>