<!--SITE INTRO-->
<section id="intro">

        <div id="welcome" class="row span12 text-center">
            <h1>HELLO!</h1>
            <h2>Welcome, I'm Cory Kleiser</h2>
            <h3>Developer | Programmer | Artist</h3>
            <span>My goal is to create elegant <strong>code</strong> that&nbsp;is&nbsp;highly&nbsp;<strong>functional</strong></span>

            <ul class="list-unstyled">
                <li>Knowledge is Attainable</li>
                <li>Opportunity is Endless</li>
                <li>Greatness is Achievable</li>
                <li>Settle for Nothing Less</li>
            </ul>

        </div>




    <!--HTML CANVAS ANIMATION-->
    <section id="creepyeye">
        <div class="canvas-container">
            <div>
                <div class="">
                    <canvas id="canvas" width="320px" height="350px">
                        <span>Your browser does not support this feature</span>
                    </canvas>
                    <h3>Look Into Every Angle</h3>
                </div>
            </div>
        </div>
    </section>

</section>
