<!--SITE INTRO-->
<section id="intro">
    <div class="container-fluid">

        <div class="span12 text-center">
            <h1>HELLO!</h1>
            <h2>Welcome, I'm Cory Kleiser</h2>
            <h3>Developer | Programmer | Artist</h3>
            <span>I strive to create eloquent <strong>code</strong> that&nbsp;is&nbsp;highly&nbsp;<strong>functional</strong></span>

            <ul class="list-unstyled">
                <li>Knowledge is Attainable</li>
                <li>Opportunity is Endless</li>
                <li>Greatness is Achievable</li>
                <li>Settle for Nothing Less</li>
            </ul>

        </div>

    </div>



    <!--HTML CANVAS ANIMATION-->
    <section id="creepyeye">
        <div class="container-fluid hidden-xs">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="canvas-container">
                    <canvas id="canvas" width="355px" height="350px">
                        <span>Your browser does not support this feature</span>
                    </canvas>
                    <h3 class="hidden-xs">Look Into Every Angle</h3>
                </div>
            </div>
        </div>
    </section>

</section>
