<div class="container-fluid">
    <h3 class="col-xs-offset-2 col-xs-10">Fitness Geek</h3>
    <p class="col-xs-9 col-xs-offset-2 lead">This is a J2EE application I helped create that will
        track various fitness information about an individual. Spring, Hibernate, and
        Twitter's Bottstrap are just some of the core technologies we used.
        You can <a class="inline" href="https://www.youtube.com/watch?v=fgQYBbVolOc" target="_blank"
                   title="Click to view code on github!">check the project retrospective</a> out on youtube.</p>
</div>