<!--WORK SECTION-->
<!--TODO:style app-->
<section id="works">
    <div class="container-fluid">
        <h1>Work</h1>
        <section id="programming">
            <legend>Programming</legend>
            <div class="span12 text-center">
                <section class="featurework col-sm-4" id="tadoo">
                        <a class="btn btn-default" id="feature1" role="button"
                           href="https://github.com/CoryKleiser/tadoo" target="_blank"
                           title="Click to view code on github!">
                            <h2>Tadoo!</h2>
                        </a>
                </section>
            </div>
            <section class="featurework col-sm-4" id="greatpicks">
                <a class="btn btn-default" id="feature2" role="button"
                   href="https://github.com/CoryKleiser/great-picks" target="_blank"
                   title="Click to view code on github!">
                    <h2>Great Picks</h2>
                </a>
            </section>
            <section class="featurework col-sm-4" id="contactlist">
                <a class="btn btn-default" id="feature3" role="button"
                   href="https://github.com/CoryKleiser/offline-ready-contact-list"
                   target="_blank" title="Click to view code on github!">
                    <h2>Contact List</h2>
                </a>

                <!--animation tests-->
                <input type="button" class="btn btn-default" value="Click Here!" ng-click="contactList = !contactList" ui-sref=".contactlist">
                <div class="content-area sample-show-hide" ng-show="contactList" ui-view></div>

            </section>
        </section>
    </div>
</section>
