<!--WORK SECTION-->
<!--TODO:insert app-->
<section id="works">
    <div class="container-fluid">
        <h1>Work</h1>
        <section id="programming">
            <legend>Programming</legend>
            <div class="span12 text-center">
                <section class="featurework col-sm-4" id="tadoo">
                        <a class="btn btn-default" id="feature1" role="button"
                           href="https://github.com/CoryKleiser/tadoo" target="_blank"
                           title="Click to view code on github!">
                            <h2>Tadoo!</h2>
                        </a>
                </section>
            </div>
            <section class="featurework col-sm-4" id="greatpicks">
                <a class="btn btn-default" id="feature2" role="button"
                   href="https://github.com/CoryKleiser/great-picks" target="_blank"
                   title="Click to view code on github!">
                    <h2>Great Picks</h2>
                </a>
            </section>
            <section class="featurework col-sm-4" id="contactlist">
                <a class="btn btn-default" id="feature3" role="button"
                   href="https://github.com/CoryKleiser/offline-ready-contact-list"
                   target="_blank" title="Click to view code on github!">
                    <h2>Contact List</h2>
                </a>
            </section>
        </section>

        <section id="sound">
            <legend>Sound by Cory Kleiser</legend>
            <iframe id="soundDesign" class="center-block" src="https://player.vimeo.com/video/80119406?color=ececec&byline=0&portrait=0"
                    width="1120" height="231" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            <iframe id="synthDesign" class="center-block" src="https://player.vimeo.com/video/88666806?color=ececec&byline=0&portrait=0"
                    width="736" height="414" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </section>
    </div>
</section>
