<link rel="stylesheet" href="css/tadoo.css">
<!--<div class="container-fluid">-->
    <!--<h3 class="col-xs-offset-2">Tadoo!</h3>-->
    <!--<p class="col-xs-8 col-xs-offset-2 lead">This is app will locate you using Google's Javascript GeoLocation API.-->
        <!--Then it will search places in the area from the selected category.</p>-->
<!--</div>-->
<div class="container-fluid">
    <h3 class="col-xs-offset-2">Tadoo!</h3>
    <p class="col-xs-8 col-xs-offset-2 lead">Tadoo! will be available for use here soon. You can
        <a href="https://github.com/CoryKleiser/tadoo" target="_blank"
           title="Click to view code on github!">check the code out</a> on github for now.</p>
</div>
<div id="greatPicksApp">
    <h3 class="text-center">Tadoo! Coming&nbsp;Soon</h3>
</div>
<!--TODO:: !!!HIGH PRIORITY!!! Fix routing issues and push live-->
<!--<section id="categories">-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<header  class="bgimage" id="feature1Header">-->
                <!--<div class="container-fluid">-->
                    <!--<div class="row">-->
                        <!--<span class="col-xs-1 col-xs-offset-1 h3">what </span>-->

                        <!--&lt;!&ndash;<div class="col-xs-2 col-xs-offset-8 h3" aria-label="Search by Zip Code.">-->
                            <!--<span class="glyphicon glyphicon-search nav-glyph" title="(Disabled) Search by Zip" aria-hidden="true"></span>-->
                        <!--</div>&ndash;&gt;-->
                    <!--</div>-->

                    <!--<span class="col-xs-offset-2 h1">TaDoo?</span>-->

                <!--</div>-->
            <!--</header>-->
        <!--</div>-->
        <!--<div id="tadooView" ui-view="cat"></div>-->
    <!--</div>-->
<!--</section>-->