<link rel="stylesheet" href="css/contactlist.css">

<div class="container-fluid hidden-sm hidden-xs">
    <h3 class="col-xs-offset-2 col-xs-10">Contact List</h3>
    <p class="col-xs-10 col-xs-offset-2 lead">This Contact List will store your data offline with pouchDB.
        Add some contacts and watch it work.</p>
</div>
<div class="featureContainer" id="contactFeature">
    <div class="row">
        <div class="span12 h1 text-center">Contacts</div>
        <div class="col-xs-12">
            <form id="contactForm" name="contactForm" novalidate ng-submit="submit()">
                <div class="form-group">
                    <label class="sr-only" for="inputName">
                        Name:
                    </label>
                    <input type="text" id="inputName" class="form-control"
                           placeholder="Enter Name Here" ng-model="newContact.name"
                           value="{{inputName}}" />
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputEmail">
                        Email:
                    </label>
                    <input type="email" id="inputEmail" class="form-control"
                           placeholder="Enter Email Here" ng-model="newContact.email"
                           value="{{inputEmail}}" />
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputPhone">
                        Phone:
                    </label>
                    <input type="tel" id="inputPhone" class="form-control"
                           placeholder="Enter Phone Here" ng-model="newContact.phone"
                           value="{{inputPhone}}" />
                </div>

                <input type="submit" value="Save" class="btn btn-success pull-right" />
            </form>
        </div>
        <div class="col-xs-12">
            <ul id="contactList" class="list-unstyled h4" ng-repeat="item in contacts"> <!--ng-bind-html="newContactItem | unsafe"-->
                <li>
                    <h4>{{item.doc.name}}</h4>
                    <h5>Email: {{item.doc.email}}</h5>
                    <h5>Phone Number: {{item.doc.phone}}</h5>
                    <h5>Added {{item.doc.createdOn | date:"MMM dd, yyyy"}}</h5>
                    <button id="{{item.doc.name}}" class="btn btn-xs btn-danger delete deleteContactEvent">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>
