<link rel="stylesheet" href="css/greatpicks.css">
<div class="container-fluid hidden-sm">
    <h3 class="col-xs-offset-2 col-xs-10">Great Picks</h3>
    <p class="col-xs-9 col-xs-offset-2 lead">This is a Java app I created that will take a set of
        user defined stock lists and store them locally.
        I also used the YahooFinance API to get live stock data for the user to see.
        You can <a class="inline" href="https://github.com/CoryKleiser/great-picks" target="_blank"
           title="Click to view code on github!">check the code out</a> on github.</p>
</div>