<div class="col-xs-12 text-center">
    <ul class="list-inline">
        <div>
            <li><span class="h2 btn btn-primary btn-lg btn-block" ui-sref="feature1@work.list">Food</span></li>

            <li><span class="h2 btn btn-primary btn-lg btn-block" ng-click="goList('/list/1')">Adventure</span></li>

            <li><span class="h2 btn btn-primary btn-lg btn-block" ng-click="goList('/list/2')">Shopping</span></li>

            <li><span class="h2 btn btn-primary btn-lg btn-block" ng-click="goList('/list/3')">On The Road</span></li>

            <li><span class="h2 btn btn-primary btn-lg btn-block" ng-click="goList('/list/4')">Chill Spots</span></li>

            <li><span class="h2 btn btn-primary btn-lg btn-block disabled"> <!--ng-click="goList('/list/5')"-->Kids</span></li>
        </div>
    </ul>
</div>